
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Data Driven Framework">

<test name="testing data">
 <classes>
 
 <class name="excelpackage.DataDrivenTestingForLoop"/>
 <class name="excelpackage.DataProviderTesting"/>
 <class name="excelpackage.CallingFromGeneric"/>
 
 </classes>
 </test>
 
 
 
 <test name="Fundzbazar testing">

<parameter name="browser" value="Chrome" />
<parameter name="Url" value="https://www.fundzbazar.com/signin" />
<parameter name="Email" value="test@gmail.com" />
<parameter name="Password" value="abc123" />


<classes>
<class name="test.SampleTesting"/>
 </classes>
 </test>
 
  </suite>